Repository Qiskit/qiskit-ibm-runtime, pull requests merged in 2025-03, with the labels that each got.

#2174 Update qiskit version check logic
  qiskit_ibm_runtime/ibm_backend.py
  qiskit_ibm_runtime/utils/options.py
Labels: Qiskit 2.0

#2172 Remove BackendV1 type hints
  qiskit_ibm_runtime/base_primitive.py
  qiskit_ibm_runtime/batch.py
  qiskit_ibm_runtime/estimator.py
  qiskit_ibm_runtime/fake_provider/local_service.py
  qiskit_ibm_runtime/options/simulator_options.py
  qiskit_ibm_runtime/sampler.py
  qiskit_ibm_runtime/session.py
  qiskit_ibm_runtime/transpiler/passes/scheduling/utils.py
  qiskit_ibm_runtime/utils/backend_converter.py
  qiskit_ibm_runtime/utils/utils.py
  test/unit/test_options.py
Labels: Qiskit 2.0

#2116 Qiskit 2.0 Compatibility
  README.md
  qiskit_ibm_runtime/fake_provider/fake_backend.py
  qiskit_ibm_runtime/ibm_backend.py
  qiskit_ibm_runtime/models/__init__.py
  qiskit_ibm_runtime/models/backend_configuration.py
  qiskit_ibm_runtime/models/pulse_defaults.py
  qiskit_ibm_runtime/transpiler/passes/scheduling/block_base_padder.py
  qiskit_ibm_runtime/transpiler/passes/scheduling/dynamical_decoupling.py
  qiskit_ibm_runtime/transpiler/passes/scheduling/scheduler.py
  qiskit_ibm_runtime/transpiler/plugin.py
  qiskit_ibm_runtime/utils/backend_converter.py
  qiskit_ibm_runtime/utils/backend_decoder.py
  qiskit_ibm_runtime/utils/options.py
  qiskit_ibm_runtime/utils/utils.py
  release-notes/unreleased/2116.other.rst
  test/unit/test_backend.py
  test/unit/test_circuit_runner_job.py
  test/unit/test_data_serialization.py
  test/unit/transpiler/passes/basis/test_convert_id_to_delay.py
  test/unit/transpiler/passes/scheduling/test_dynamical_decoupling.py
  test/unit/transpiler/passes/scheduling/test_scheduler.py
Labels: Qiskit 2.0

#2189 Fix some formatting in twirling_options docs and clarify enable_measure a bit
  qiskit_ibm_runtime/options/twirling_options.py
Labels: documentation

#2190 Reorganize release note titles/headings
  release-notes/0.28.0.rst
  release-notes/0.30.0.rst
  release-notes/0.31.0.rst
  release-notes/0.32.0.rst
  release-notes/0.33.0.rst
  release-notes/0.34.0.rst
  release-notes/0.35.0.rst
  release-notes/0.36.0.rst
Labels: documentation, backport potential
